main {
    display: grid;
    grid-template-columns: 350px 1fr;
    border: 1px #84817a;
    gap: 1rem;
    padding: 1rem;
}
body {
    background-color: #aaa69d
}
img {
    border: 4px solid #84817a;
}
div.thumb img {
    width: 300px;
    height: 300px
}
div.galeria img {
    width: 220px;
    height: 220px;
}
div.galeria {
    text-align: center;
}